@{
    ViewBag.Title = "Sunucu Hatası";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="container" style="text-align:center; padding:100px 0;">
    <i class="glyphicon glyphicon-fire" style="font-size:80px; color:#d9534f;"></i>
    <h1 style="font-weight:bold; margin-top:20px;">Bir Sorun Oluştu!</h1>
    <p style="font-size:18px; color:#777;">Sunucularımızda beklenmedik bir hata meydana geldi. Teknik ekibimiz durumdan haberdar edildi.</p>
    <br />
    <a href="/Default/Index/" class="btn btn-primary btn-lg">Anasayfaya Dön</a>
</div>